$font-stack: 'HKGroteskLight', 'Helvetica Neue', Helvetica, sans-serif;
$primary: #000;
$background: #fff;
$light: #f0f0f0;
@mixin fontbig {
    font-size: 240px;
    font-size: 20vw;
}
$fontregular: 16px;
$fontsmall: 1em;
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}

body {
  font-family: $font-stack;
  color: $primary;
  background: $background;
}
header {
  background: #f7f7f7;
  color: #aaa;
  padding: 20px 20px 12px;
  margin: 0;
}

.cf:after {
    content:"";
    display:table;
    clear:both;
}

#day {
  font-size: $fontregular;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  float: left;
}
#date {
  font-size: $fontregular;
  letter-spacing: -0.5px;
  float: right;
}

#time {
  @include fontbig;
  font-family: 'HKGroteskBold';
  letter-spacing: -4px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 90%;
  padding: 2% 0;
  margin: 0 auto;
}
