$font-stack: 'HKGroteskRegular', 'Helvetica Neue', Helvetica, sans-serif;
$primary: #000;
$background: #fff;
$light: #f0f0f0;
@mixin fontbig {
    font-size: 240px;
    font-size: 24vw;
}
$fontregular: 2em;
$fontsmall: 1em;

html {
  font-size: 100%;
}

body {
  font-family: $font-stack;
  color: $primary;
  background: $background;
}
#day {
  font-size: $fontsmall;
  font-family: 'HKGroteskBold';
}
#date {
  font-size: $fontregular;
  font-family: 'HKGroteskLight';
  letter-spacing: -1px;
  padding-bottom: 2%;
  border-bottom: 2px solid $light;
}

#time {
  @include fontbig;
  font-family: 'HKGroteskBold';
  letter-spacing: -4px;
  font-weight: bold;
}

.container {
  width: 90%;
  padding: 2% 0;
  margin: 0 auto;
}
