$font-stack: 'HKGroteskBold', 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-alt: 'Roboto Mono', monospace;
$primary: #000;
$background: #fff;
$light: #f0f0f0;
@mixin fontbig {
    font-size: 240px;
    font-size: 20vw;
}
$fontregular: 24px;
$fontsmall: 1em;
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}

body {
  font-family: $font-stack;
  color: $primary;
  background: $background;
}

#date {
  font-family: $font-stack-alt;
  font-size: $fontregular;
  color: #B3B3B3;
  text-align: center;
  padding: 5% 0 2.5%;
}

#time {
  @include fontbig;
  letter-spacing: -5px;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}
